<%= render "shared/header" %>
<div>トレーニング詳細</div>

<div>
      <span class="trainig-name">
        <%= @trainings.training_name.name %>/
      </span>
      
      <span class="weight">
        <%= @trainings.weight %>/
      </span>
      
      <span class="setting_number">
        <%= @trainings.setting_number.name %>回/
      </span>

      <span class="set_rep">
        <%= @trainings.set_rep.name %>set/
      </span>

      <span class="rest-time">
        <%= @trainings.rest_time.name %>秒/
      </span>
            <span class="memo">
        <%= @trainings.memo %>
      </span>

       <tbody>
      <tr>
        <td><%#= link_to 'Edit' ,@trainings(training.id)%></td>
        <td><%= link_to 'Destroy',@trainings, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </tbody>
</div>


<%= render "shared/footer" %>