<%= render "shared/header" %>
<div class="training-shows">
    <div class="show-title">TrainingMenu</div>
      <div class="start_time">
        <%= @trainings.start_time %>
        <%=link_to 'Back', trainings_path, class:"back-btn" %>
    </div>

  <div class="training-show">
      <div class="trainig-name">
        <%= @trainings.training_name.name %>/
      </div>
      
      <div class="weight">
        <%= @trainings.weight %>/
      </div>
      
      <div class="setting_number">
        <%= @trainings.setting_number.name %>回/
      </div>

      <div class="set_rep">
        <%= @trainings.set_rep.name %>set/
      </div>

      <div class="rest-time">
        <%= @trainings.rest_time.name %>秒/
      </div>
      
      <div class="memo">
        <%= @trainings.memo %>
      </div>



      <tr>
        <td><%#= link_to 'Edit' ,@trainings(training.id)%></td>
        <td><%= link_to 'Destroy',@trainings, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </div>
</div>


<%= render "shared/footer" %>