<!doctype html>
<html lang="ja">

  <head>
    <%= render "shared/header" %>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/reset.css">
    <title>CommitPartner</title>
  </head>

  <body>
  <!--カテゴリーカード-->
   <div class="mainbox">
    <div class="main-title">CommitPartner</div>
   <div class="main-dispary">
   <div class="row">
     <div class="col">
      <div class="card">
       <%= link_to image_tag("training1.jpeg", class:"card-img-top"), '/trainings' %>
      <div class="card-body"><p class="card-text">Training</p></div>
      </div>
     </div>

    <div class="col">
      <div class="card">
      <%= link_to image_tag("timer1.jpeg", class:"card-img-top"), '/timer' %>
      <div class="card-body"><p class="card-text">Timer</p></div>
     </div>
    </div>

    <div class="col">
    <div class="card">
      <%= link_to image_tag("practice1.jpeg", class:"card-img-top"), '/quizs' %>
      <div class="card-body"><p class="card-text">Practice</p></div>
    </div>
    </div>
    </div>
   </div>
    </div>
<!--カテゴリーカード-->

  <%= render "shared/footer" %>
  </body>


</html>
