<!doctype html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
     <script>
     </script>
    <title>CommitPartner</title>
  </head>
  <header>
     <%= render "shared/header" %>
  </header>

  <body>
  <!--カテゴリーカード-->
   <div class="mainbox">
    <div class="main-title">CommitPartner</div>
   <div class="main-dispary">
   <div class="row">
     <div class="col">
      <div class="card">
       <%= link_to image_tag("training1.jpeg", class:"card-img-top"), '/trainings' %>
      <div class="card-body"><p class="card-text">Training</p></div>
      </div>
     </div>

    <div class="col">
      <div class="card">
      <%= link_to image_tag("timer1.jpeg", class:"card-img-top"), '/timer' %>
      <div class="card-body"><p class="card-text">Timer</p></div>
     </div>
    </div>

    <div class="col">
    <div class="card">
      <%= link_to image_tag("practice1.jpeg", class:"card-img-top"), '/quizs' %>
      <div class="card-body"><p class="card-text">Practice</p></div>
    </div>
    </div>
    </div>
   </div>
    </div>
<!--カテゴリーカード-->
  </body>

<footer>
  <%= render "shared/footer" %>
</footer>
</html>
